html, body
{
  height: 100%;
}

body
{
background-color: lightgreen;
}

.header
{
	color:black;font-family:'Sans Serif';font-size: 45px;letter-spacing: 10px;margin-top: 80px; 
}

.login_div
{
	background: turquoise;float: none; width: 1000px; height: 1000px;
}


#login_button
{
	width: 20%;  font-size: 200%; font-family: 'Courier New', Courier, monospace; background-color: red; color:azure
}

.Robot{
   width:500px
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}



